.new-films {
  .row {
    margin-right: -$gap / 2;
    margin-left: -$gap / 2;
  }
}
  
.new-films-item {
  padding-left: $gap / 2;
  padding-right: $gap / 2;

  .thumbnail {
    transition: background-color 0.25s;
  }

  .caption {
    @include text-shortener;
  }
  
  &:hover {
    .thumbnail {
      background-color: $color-accent;
      border-color: $color-accent;
    }

    .caption {
      color: $color-light;
    }
  }
}

.film-news-post{
  margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 47px;

      @include xs {
        margin-bottom: 90px;
      }
    }

    .row {
      margin-right: -16.5px;
      margin-left: -14.5px;
    }

    .picture {
      padding-right: $gap;
    }

    img {
      width: 100%;
    }

    .text {
      text-align: justify;
      position: relative;
      margin-bottom: 44px;
    }

    .btn {
      position: absolute;
      right: 14px;
      bottom: 0;

      @include sm {
        bottom: -45px; 
      }
    }

    .thumbnail {
      transition: background-color 0.25s;
    }

    &:hover,
    &:focus{
      .thumbnail {
        border-color: rgba(lighten($color-accent, 10%), 0.9);
        background-color: rgba(lighten($color-accent, 10%), 0.9);
      }

      .btn {
        background-color: $color-accent;
      }

      h3 {
        color: $color-accent;
      }
    }
}